*{
	margin: 0;
	padding: 0;

}
html , body
{
	width: 100%;
	height: 100%;
	background-color: #F0FFFF;
	

    font-family: 'Luckiest Guy', cursive;
    transition: all 0.4s;
   


	
	/* font-weight: normal; */
	
}

a {
        color: white;
      }
      

.background
{
	width: 100%;
	height: 100%;
	background-image: url(code.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
	

}
.nav
{
	width: 350px;
	height: 100px;
	
	position: absolute;
	top: 30%;
	left: 0;
/*	background:red;*/

}
.nav a
{
	text-decoration: none;

	 font-family: verdana;
	 font-size:20px;
	 	

  

	font-weight: bold;
	
	height: 90px;
	margin: 5px 0;
	float : left;
	display: inline-block;
	background-color: black;
	color: white;
	line-height: 90px;
	text-align: center;
	transition: 300ms;
}
a.active  
{
	background-color: black;
	color: white;
}
a.active , .nav a:hover
{
	background-color: #414b57;
	color: white;
	width:100%;

}
.a
{
	width: 80%;
	border-radius: 0 8px 8px 0;

}
.b
{
	width:80%; 
	border-radius: 0 8px 8px 0;
}
.c
{
	width: 80%;
	border-radius: 0 8px 8px 0;
}
.d
{
	width: 80%;
	border-radius: 0 8px 8px 0;
}

.content
{
	position: absolute;
	width: 1000px;
	min-height: 500px;
	height: auto;
	/*background-color: red;*/
	right: 0;
	top: 10%;
	

}
.home
{
	position: relative;
	top:350px;
	right:  400px;

	right: 0;
	bottom: -50px;
	color: black;
	font-family: verdana;
	text-transform: uppercase;
}
.home h1
{
	 font-size: 60px;
	padding-right: 60px;
	border-bottom: 1px solid black;

}
.home h3
{
	font-size:30px;
	padding: 5px 0; 
	/*opacity: 0.6;*/
}

.about 
{
	top: 10%;
	width: 1700;
	position: static;
	right: auto;
	top: auto;
	color: black;
	font-family: calibri;
	padding :0 60px;
	display: none;
}
.about p
{

font-size: 25px;
line-height: 30px;
margin-bottom: 20px;
}

.skills
{
	width: 1700;
	top: 10%;
	right: relative;
	width: 1700;
	align-content: center;
	color: black;
	font-family: calibri;
	padding :10px 300px;
	display: none;	
}
.skills p
{
font-size: 25px;
line-height: 30px;
margin-bottom: 20px;
}

.fa-swimmer{
	color: black;
}
.fa-code{
	color: black;
}
.fa-book-open{
	color: black;
}
.academics
{
	top: 10%;
	width: 1700;
	position: relative;
	right: auto;
	top: 30%;
	
	color: black;
	font-family: calibri;
	padding :200px 60px;
	display: none;
}


h2 {
  margin: 16px;
  top: 100%;
}

.container {
  margin-top: 50px;
  padding: 3px;
}

.select-box {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.select-box .options-container {
  background: black;
  color: white;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected {
  background: black;
  border-radius: 8px;
  margin-bottom: 8px;
  color: white;
  position: relative;

  order: 0;
}

.selected::after {
  content: "";
  background: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.clipartbest.com%2Fcliparts%2F4cb%2F6b9%2F4cb6b9ngi.png&f=1&nofb=1");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
/*  overflow-y: scroll*/;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

/*.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}*/

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box .option: {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

.middle{
    position: relative;
    right: 30%;
    transform: translateY();
    width: 160%;
    text-align: center;
    
}

.btn{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #f5f6fa;
    margin: 30px;
    border-radius: 100px;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 100px;
    
}

.btn i{
    line-height: 100px;
    font-size: 26px;
    transition: 0.2s linear;

    
}

.btn:hover i{
    transform: scale(1.3);
    color: "#f1f1f1";
    
}






table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color:black;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color:white;
  text-align:center;
}
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color:gray;
  color:black;
  text-align:center;
}
/*tr:nth-child(even) {
  background-color: 	#D3D3D3;
}*/